{% extends 'layout.html' %}

{% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}

    <div id="ui_area">
        <div id="left_panel">
            <fieldset>
                <legend style="color:blue;font-weight:bold;">Debug Information</legend>
                <table>
                    <tr>
                        <td>Nodex.x:</td>
                        <td id="debug_nodeX"></td>
                    </tr>
                    <tr>
                        <td>Node.y:</td>
                        <td id="debug_nodeY"></td>
                    </tr>
                    <tr>
                        <td>Node.id:</td>
                        <td id="debug_id"></td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="center_panel">
            <fieldset>
                <legend style="color:blue;font-weight:bold;">Grid Information</legend>
                <label for="selectGridSize">Grid Size:</label>
                <select id="selectGridSize" name="selectGridSize">
                    <option value="5" selected="selected">5x5</option>
                    <option value="10">10x10</option>
                    <option value="15">15x15</option>
                    <option value="20">20x20</option>
                    <option value="30">30x30</option>
                    <option value="40">40x40</option>
                    <option value="50">50x50</option>
                    <option value="100">100x100</option>
                    <option value="150">150x150</option>
                </select>
                <br>
                <label for="selectWallFrequency">Wall Frequency: </label>
                <select id="selectWallFrequency">
                    <option value="0">None</option>
                    <option value=".1">10%</option>
                    <option value=".2" selected="selected">20%</option>
                    <option value=".3">30%</option>
                    <option value=".4">40%</option>
                </select>
            </fieldset>
            <button type="button" id="updateGrid" onclick="updateGrid()">Update Grid!</button>
            <button type="button" id="goForIt" onclick="goForIt()">Go For It!</button>
            <br>
            <button type="button" id="apiSetGrid" onclick="apiSetGrid()">API Set Grid</button>
            <button type="button" id="apiGetGrid" onclick="apiGetGrid()">API Get Grid</button>
        </div>

        <div id="right_panel">

            <fieldset>
                <legend style="color:blue;font-weight:bold;">Left Mouse</legend>
                    <label>Get Info:</label>
                    <input type="radio" name="id" id="checkInfo" value="checkInfo" checked="true">
                    <br>
                    <label>Select Source:</label>
                    <input type="radio" name="id" id="checkSource" value="checkSource">
                    <br>
                    <label>Select Target:</label>
                    <input type="radio" name="id" id="checkTarget" value="checkTarget">
                    <br>
                    <label>Select Wall:</label>
                    <input type="radio" name="id" id="checkWall" value="checkWall">
                    <br>
                    <label>Select Blank:</label>
                    <input type="radio" name="id" id="checkBlank" value="checkBlank">
            </fieldset>
        </div>
    </div>
    <br>

    <div id="main_contents">
        <div id="p5canvas">
            <!-- Space for p5 canvas here! -->
        </div>

        <div id="description">
            <h2>Breadth First Search</h2>
            <p>In bfs we begin with a 'source' and a 'target' node and a queue for visiting nodes; the frontier. We also use a temporary array for the neighboring nodes.</P>
            <p>From the 'source' node we check all neighbors: North, South, East and West.</p>
            <p>Each of these neighbors is marked as visited, and removed from the frontier queue.</p>
            <p>We continue iterating until we have searched all nodes or we break early if 'target found'.</p>
            <p>The source node is blue, with the target node being red, and the wall being black.</p>
        </div>
    </div>
    <p>After starting the search with 'Go For It!' the green nodes represent all the nodes on the frontier that have been checked. And if a path is found, this will be show in teal.</p>
    <p>You can change the grid size and wall frequency via a dropdown or just Update Grid for a new random grid.</p>
    <strong>Please note: </strong>The animation has been slowed, so, you have a chance to see the process.

    <!-- <script>
        // Get grid 2d array from api call.
        var grid;
        var request = new XMLHttpRequest();
        request.open('GET', 'http://localhost:5000/api/grid', true);
        request.onload = function()
        {
            grid = JSON.parse(this.response);
            console.log(grid);
        }

        request.send();
    </script> -->
    <!-- <script>
        var grid = [];

        function apiTestGet()
        {
            fetch('http://localhost:5000/api/test')
            .then(response => response.json())
            .then(data => grid = data)
            .then(data => console.log(data))

            console.log("grid: " + grid);
        }

        function apiTestPost()
        {
            fetch('http://localhost:5000/api/test',
            {
                method: 'POST',
                body: JSON.stringify(
                {
                    rows: 5,
                    cols: 5
                }),
                headers: { "Content-Type": "application/json; charset=utf-8" }
            })
        }


        function apiSetGrid()
        {
            fetch('http://localhost:5000/api/grid',
            {
                method: 'POST',
                body: JSON.stringify(
                {
                    rows: 5,
                    cols: 5
                }),
                headers: { "Content-Type": "application/json; charset=utf-8" }
            })
        }


        function apiGetGrid()
        {
            fetch('http://localhost:5000/api/grid')
            .then(response => response.json())
            .then(data => console.log(data))

            // .then(data => grid)
            // console.log(grid);
        }
    </script> -->

    <script src="{{ url_for('static', filename='includes/js/p5.min.js') }}"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='includes/css/custom.css') }}"> -->
    <!-- <script src="includes/js/addons/p5.dom.min.js"></script>
    <script src="includes/js/addons/p5.sound.min.js"></script> -->

    <!-- <script src="includes/js/GridNode.js"></script>
    <script src="includes/js/AI_maths_lib.js"></script>
    <script src="includes/js/Bfs.js"></script> -->

    <script src="{{ url_for('static', filename='includes/js/sketch.js') }}"></script>

{% endblock content %}
